<div class="page-block">
  <h3 class="title is-3">Explore Groups</h3><br>

  <%= @groups.each do |group| %>
    <h5 class="title is-5"><%= link_to group.name, group_path(group) %></h5>
    
    <div class="columns is-mobile is-gapless subtitle is-size-7 has-text-weight-medium">      
      <div class="column is-narrow">
        <i class="fas fa-map-marker-alt notice"></i><br>
        <i class="fas fa-user-friends notice"></i>
      </div>

      <div class="column">
        <%= city_state(group) %><br>
        <%= count_users(group) %>        
      </div>
    </div>

    <p><%= group.description %></p>
    <!-- <%= creator_options(group) %> -->
    
    <hr>
  <% end %>
</div>