<h1><%= @group.name %></h1>
<p><%= @group.description %></p>
<p><%= city_state(@group) %></p>

<h3>Upcoming Events</h3>
<% @events.each do |event| %>
  <%= link_to event.name, group_event_path(@group, event) %>
<% end %>

<h3>Our Members</h3>
<% @users.each do |user| %>
  <%= link_to user.name, user_path(user) %>
<% end %>  

<!-- 'join group' section -->
<%= become_member(@group) %>

<%= creator_options(@group) %>