<div class="page-block">
  <h3 class="title is-3 has-text-weight-bold"><%= @group.name %></h3>

  <div class="columns is-mobile is-gapless is-size-6">      
    <div class="column is-narrow">
      <i class="fas fa-map-marker-alt notice"></i><br>
      <i class="fas fa-user-friends notice"></i><br>
      <i class="fas fa-user notice"></i>
    </div>

    <div class="column">
      <%= city_state(@group) %><br>
      <%= count_users(@group) %><br>
      Created by <%= creator_name(@group) %>    
    </div>
  </div>

  <hr>

  <h4 class="is-size-4 has-text-weight-medium">What We're About</h4>
  <p><%= @group.description %></p>
  <br>

  <h4 class="is-size-4 has-text-weight-medium">Upcoming Events</h4>  
  <% @events.each do |event| %>
    <% if upcoming(event) %>
      <p>
        <%= link_to event.name, group_event_path(@group, event), class: "has-text-weight-bold" %><br>
        <%= date(event) %> at <%= start_end_time(event) %>
      </p>
    <% end %>    
  <% end %>
  <br>

  <h4 class="is-size-4 has-text-weight-medium">Our Members</h4>
  <ul>
    <%= @users.each do |user| %>
      <li><%= link_to user.name, user_path(user) %></li>
    <% end %>
  </ul>
  <br>

  <!-- New membership form -->
  <p><%= become_member(@group) %></p>

  <%= creator_options(@group) %>
</div>