<nav class="navbar" role="navigation" aria-label="dropdown navigation">
  <div class="container">
    <div class="navbar-brand">
      <li class="navbar-item is-size-5 has-text-weight-medium"><%= link_to 'LinkUp', root_path %></li>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div> <!-- end of navbar-brand -->


    <div id="navbarBasicExample" class="navbar-menu">

      <div class="navbar-start">          
        <li class="navbar-item"><%= link_to 'Explore Groups', groups_path %></li>
        <li class="navbar-item"><%= link_to 'Find Events', events_path %></li>
      </div> 

      <div class="navbar-end">
        <%= render 'shared/active_nav' %>
        <%= render 'shared/inactive_nav' %>
      </div> <!-- end of navbar-end --> 
    </div> <!-- end of navbar-menu -->  
  </div> <!-- end of container -->
</nav>