<%= simple_form_for event do |f| %>

  <div class="columns">
    <div class="column"> 
      <div class="field">
        <label class="label">Hosting group<span class="notice">*</span></label>
        <div class="control">
          <span class="select">
            <%= f.input_field :group,
                        collection: current_user.groups,
                        required: true,
                        label: false,
                        prompt: 'Select one' %>
            <%= f.error :group_id %>
          </span>     
        </div>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <label class="label">Event organizer<span class="notice">*</span></label>
        <div class="control">
          <span class="select">
              <%= f.input_field :organizer,
                        collection: User.all,
                        required: true,
                        label: false,
                        wrapper: false,
                        prompt: 'Select one' %>
              <%= f.error :organizer %>
          </span>     
        </div>
      </div>  
    </div> 

    <div class="column"></div>
  </div> <!-- end of columns -->
                    

  <div class="field">
    <label class="label">Event name<span class="notice">*</span></label>
    <div class="control">
      <%= f.input :name,
                  required: true,
                  autofocus: true,
                  label: false,
                  wrapper: false,
                  input_html: { class: "input" } %>
    </div>
  </div>

  <div class="field">
    <label class="label">Details<span class="notice">*</span></label>
    <div class="control">
      <%= f.input :details,
                  required: true,
                  label: false,
                  wrapper: false,
                  placeholder: "Add any info here about your event that is important for attendees to know",
                  input_html: { class: "textarea" } %>
    </div>
  </div>

  <div class="columns">
    <div class="column"> 
      <div class="field">
        <label class="label"><span class="notice">*</span></label>
        <div class="control">
          <%= f.input :location,
                      required: true,
                      label: false,
                      wrapper: false,
                      placeholder: "Address or location name",
                      input_html: { class: "input" } %>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <label class="label"><span class="notice">*</span></label>
        <div class="control">
          <%= f.input :city,
                      required: true,
                      label: false,
                      wrapper: false,
                      placeholder: "City",
                      input_html: { class: "input" } %>
        </div>
      </div>  
    </div>

    <div class="column">
      <div class="field">
        <label class="label"><span class="notice">*</span></label>
        <div class="control">
          <span class="select">
            <%= f.input_field :state,
                          collection: states,
                          required: true,
                          label: false,
                          prompt: 'State' %>
            <%= f.error :state %>
          </span>     
        </div>
      </div>
    </div>  
  </div> <!-- end of columns -->

  <div class="columns">
    <div class="column"> 
      <div class="field">
        <label class="label">Date<span class="notice">*</span></label>
        <div class="control">
          <%= f.input :date,
                      required: true,
                      label: false,
                      wrapper: false,
                      input_html: { class: "date select "} %>
          <%= f.error :date %>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <label class="label">Start time (24-hr format)<span class="notice">*</span></label>    
        <div class="control">
          <%= f.input :start_time,
                      required: true,
                      label: false,
                      wrapper: false,
                      input_html: { class: "time select"} %>
          <%= f.error :start_time %>
        </div>
      </div>  
    </div>

    <div class="column">
      <div class="field">
        <label class="label">End time (24-hr format)<span class="notice">*</span></label>    
        <div class="control">
          <%= f.input :end_time,
                      required: true,
                      label: false,
                      wrapper: false,
                      input_html: { class: "time select"} %>
          <%= f.error :end_time %>
        </div>
      </div>
    </div>  
  </div> <!-- end of columns -->

  <div class="field is-grouped">
    <div class="control">
      <%= f.submit (@event.new_record? ? 'Submit' : 'Update'), class:'button cta has-text-white has-text-weight-medium' %>
      <%= link_to 'Cancel', events_path, class:'button is-light is-link' %>
    </div>
  </div>
<% end %>