<%= simple_form_for event do |f| %>

<%= f.input_field :group_id,
                    collection: Group.all,
                    required: true,
                    prompt: 'Select hosting group' %>

  <%= f.input_field :organizer,
                    collection: User.all,
                    required: true,
                    prompt: 'Select event organizer' %>
                    

  <div class="field">
    <label class="label">Event name<span class="notice">*</span></label>
    <div class="control">
      <%= f.input :name,
                  required: true,
                  autofocus: true,
                  label: false,
                  wrapper: false,
                  input_html: { class: "input" } %>
    </div>
  </div>

  <div class="field">
    <label class="label">Details<span class="notice">*</span></label>
    <div class="control">
      <%= f.input :details,
                  required: true,
                  label: false,
                  wrapper: false,
                  input_html: { class: "textarea" } %>
    </div>
  </div>

  <div class="field">
    <label class="label">Date<span class="notice">*</span></label>
  </div>

  <div class="field">
    <div class="control">
      <span class="select">
        <%= f.input :date,
                    required: true,
                    label: false,
                    wrapper: false,
                    input_html: { class: "select" } %>
      </span>
    </div>
  </div>

  <%= f.input :start_time,
              required: true,
              label: 'Start time (24-hr format)' %>

  <%= f.input :end_time,
              required: true,
              label: 'End time (24-hr format)' %>

  <%= f.input :location,
              required: true,
              label: 'Address or location name' %>

  <%= f.input :city,
              required: true %>

  <%= f.input_field :state,
                    collection: states,
                    required: true,
                    prompt: 'State' %>

  <%= f.submit %>
<% end %>