<section class="hero is-medium is-light">
  <div class="hero-body events">
    <div class="container">
      <h1 class="title is-size-1-tablet has-text-weight-bold">
        Find Events
      </h1>
    </div>
  </div>
</section>

<div class="page-block">
  <%= @events.each do |event| %>    
    <p class="has-text-weight-medium"><%= date(event) %> @ <%= start_time(event) %></p>
    <h4 class="title is-4"><%= link_to event.name, event_path(event) %></h4>

    <div class="columns is-mobile is-gapless subtitle is-size-7">      
      <div class="column is-narrow">
        <i class="fas fa-user-friends notice"></i><br>
        <i class="fas fa-map-marker-alt notice"></i>
      </div>

      <div class="column">
        Hosted by <%= hosting_group(event) %><br>
        <%= event.location %>, <%= city_state(event) %>
      </div>
    </div>
    <hr>
  <% end %>
</div>