<div class="content">
  <% @events.each do |event| %>
    <h3><%= link_to event.name, event_path(event) %></h3>
    <p><%= event.details %></p>
    <p><%= event.start_date %></p>
    <p><%= event.end_date %></p>
    <p><%= event.location %> | <%= event.city %>, <%= event.state %></p>
  <% end %>
</div>