<h3><%= @event.name %></h3>
<p><%= @event.details %></p>
<p><%= start_date(@event) %></p>
<p><%= start_end_time(@event) %></p>
<p><%= @event.location %> | <%= city_state(@event) %></p>
<p>Organizer: <%= organizer_name(@event) %></p>


<%= organizer_options(@event) %>
