<section class="hero is-light is-bold">
  <div class="hero-body login">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column if-4 is-offset-8 form-block">
          <h4 class="title is-4 is-spaced has-text-bold">Log in to your account</h4>
          <p class="subtitle is-7 is-invisible">Fields marked with <span class="notice">*</span> are required</p>

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <label class="label">Email<span class="notice">*</span></label>
              <div class="control">
                <%= f.input :email,
                            required: true,
                            autofocus: true,
                            label: false,
                            wrapper: false,
                            input_html: { autocomplete: "email", class: "input" } %>
              </div>
            </div>

            <div class="field">
              <label class="label">Password<span class="notice">*</span></label>
              <div class="control">
                <%= f.input :password,
                            required: true,
                            label: false,
                            wrapper: false,
                            input_html: { autocomplete: "current-password", class: "input" } %>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <%= f.button :submit, "Log in", class:'button is-fullwidth cta has-text-white has-text-weight-medium'  %>
                <span class="help is-size-7 has-text-centered">Don't have an account? <%= link_to 'Sign up.', new_user_registration_path %></span>
              </div>
            </div>            
          <% end %>
          
          <p class="breaker is-size-7 is-spaced has-text-centered has-text-weight-bold">----- OR -----</p>

          <button class="button is-fullwidth"><img src="https://img.icons8.com/color/100/000000/google-logo.png" width="22px" class="google-icon"><%= link_to "Log in with Google", user_google_oauth2_omniauth_authorize_path %></button>
        </div>
      </div> <!-- end of columns -->     
    </div> <!-- end of container -->  
  </div> <!-- end of hero-body -->  
</section>
