<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/v4-shims.css">
  </head>

  <body>

    <%= render 'shared/navbar' %><br>    

    <div class="container content">
      <p class="alert alert-success has-text-weight-bold"><%= notice if notice%></p>
      <p class="alert alert-danger has-text-weight-bold"><%= alert if alert %></p>
      <%= yield %>
    </div>  
    
    <footer class="footer">
      <div class="content has-text-centered">
        <p class="has-text-weight-medium has-text-dark">
          &copy; 2019 LinkUp by Hazel Anne Villareal
        </p>
      </div>
    </footer>
  </body>

</html>
